<h1>Flug Suche</h1>

<div class="form-group">
    <label>Von:</label>
    <input [(ngModel)]="from" name="from" class="form-control">
</div>

<div class="form-group">
    <label>Nach:</label>
    <input [(ngModel)]="to" name="to" class="form-control">
</div>

<div class="form-group">
    <button class="btn btn-default" (click)="search()" [disabled]="!from || !to">Suche</button>
</div>

<table class="table table-striped">
    <tr *ngFor="let flight of flights"
        [ngClass]="{ 'active' : flight === selectedFlight }"
    >
        <td>{{ flight.id }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
        <td><a (click)="select(flight)">Auswahl</a> </td>
    </tr>
</table>

<b>Warenkorb</b>
<pre>{{ basket | json }}</pre>

<pre>{{ selectedFlight | json }}</pre>
